.background {
  background: linear-gradient(247.32deg, rgba(0, 0, 0, 0) 0%, rgba(25, 25, 35, 1) 20.8%), url(../image/bg.jpg);
  background-blend-mode: hard-light, normal;
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: normal;
  width: 100vw;
  height: 100vh;
  padding: 1.4rem 2.5rem;
}

